.DS_Store
**/venv
**/.venv
*.log
*.log.gz
/logs/*
/logs_*/*
/venv/*
/rita
/rita-
/*.out
/*.test
/*.zip
/*.tar/

**/.env*
**/.terraform*
**/*.tfstate*
/installer/stage
/installer/rita-*.tar.gz
/installer/rita-*
/installer/install-rita-zeek-here.sh
!/installer/*.md

# only commit .env, .env.production, and test.env files
!/.env
!*/test.env
!/.env.production

# defined test logs
!/test_data/dns_only/*[.log.gz]
!/test_data/has_unknown_field/*[.log.gz]
!/test_data/json_with_all_fields/*[.log.gz]
!/test_data/open_conns/open/*[.log.gz]
!/test_data/open_conns/closed/*[.log.gz]
!/test_data/text_file/*[.log.gz]
!/test_data/truncated/*[.log.gz]
!/test_data/valid_json/*[.log.gz]
!/test_data/valid_tsv/*[.log.gz]
!/test_data/proxy/*[.log.gz]
!/test_data/proxy_rolling/*[.log.gz]
!/test_data/valid_tsv/*[.log.gz]
!/test_data/dnscat2-ja3-strobe-agent/*[.log.gz]
!/test_data/missing_host/*/*[.log.gz]
!/test_data/open_sni/*[.log.gz]








